<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons *ngIf="!isSearch" slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
      <ion-button shape="round" (click)="goSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- (ionInput)="onInput($event)" -->
    <ion-searchbar *ngIf="isSearch" class="search-bar" placeholder="Tìm kiếm theo chủ đề hoặc mã ý tưởng"
      [(ngModel)]="searchString" (keyup.enter)="searchEnter()" (keyup.esc)="searchEnter()" (focusout)="searchEnter()"
      (ionChange)="onUserEnterSearch($event)"></ion-searchbar>

    <ion-title *ngIf="!isSearch">{{userInfo?.fullname}}</ion-title>

    <ion-buttons *ngIf="!isSearch" slot="end">
      <ion-button shape="round" (click)="onClickFilter($event)">
        <ion-icon slot="{{(isMobile?'icon-only':'start')}}" name="ios-funnel"></ion-icon>
        {{(isMobile?'':'Lọc ý tưởng')}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let idea of myIdeaFilterList | sortByTime : 'created_time' : 'desc' ">

      <ion-label class="ion-text-wrap">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="{{idea.avatar?idea.avatar:'assets/imgs/avatar.jpg'}}" />
          </ion-avatar>
          <ion-label>
            {{idea.fullname}}
          </ion-label>
        </ion-item>
        <h2 class="text-to-wrap" tappable (click)="onViewIdeaDetail(idea)">
          <strong>#{{idea.id}}</strong>. {{idea.title}}
        </h2>
        <p [innerHTML]="idea.description | newline | safe" class="text-to-wrap"></p>
        <p>
          <ion-note>
            <strong>{{idea.status_name}}</strong>
            {{(idea.changed_time?idea.changed_time:idea.created_time) |
              timeAgo}}
          </ion-note>
        </p>
        <ion-badge color="secondary">
          <ion-icon name="thumbs-up"></ion-icon>{{" "+idea.voted_count}}
        </ion-badge>
        <ion-badge color="medium">
          <ion-icon name="chatbubbles"></ion-icon>{{" "+idea.commented_count}}
        </ion-badge>
        <ion-badge color="warning">
          <ion-icon name="switch"></ion-icon>{{" "+idea.total_point}}
        </ion-badge>
        <ion-badge *ngIf="isMobile && idea.status_chain && !idea.isShowHistory" color="success"
          (click)="onClickMore(idea)">
          <ion-icon name="switch"></ion-icon>{{" "+(idea.status_chain?idea.status_chain.length:0)}}
        </ion-badge>
        <br />
        <!-- Hiển thị chi tiết lịch sử thay đổi trạng thái khi bấm nút xem lịch sử -->

        <ion-list *ngIf="idea.isShowHistory && idea.status_chain">
          <ion-item *ngFor="let status of idea.status_chain">
            <ion-label class="ion-text-wrap" style="font-size:12px;">
              <ion-note style="font-size:10px;">{{status.changed_time | date : 'dd/MM/yyyy hh:mm:ss'}}
                {{statusConfigs[status.status]?.name}}</ion-note>
              <br>
              <strong>{{status.user_name}}</strong>:
              <span [innerHTML]="status?.description | newline | safe"></span>. Giải thưởng: {{status.value_prize}}
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <div slot="end" class='card-button' tappable (click)="onClickMore(idea)">
              <ion-icon *ngIf="isMobile" slot="ion-only" color="medium" name="arrow-dropup-circle"></ion-icon>
              <ion-button *ngIf="!isMobile" shape="round" fill="outline">
                <ion-icon slot="start" name="arrow-dropup-circle"></ion-icon>
                Thu Gọn
              </ion-button>
            </div>
          </ion-item>
        </ion-list>
      </ion-label>
      <ion-button *ngIf="!isMobile && idea.status_chain && !idea.isShowHistory" (click)="onClickMore(idea)" slot="end"
        shape="round" fill="outline">
        Xem Lịch Sử
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>