<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons *ngIf="!isSearch" slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button shape="round" (click)="goSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <!-- (ionInput)="onInput($event)" -->
    <ion-searchbar *ngIf="isSearch" 
    class="search-bar"
    placeholder="Tìm kiếm theo chủ đề hoặc mã ý tưởng" 
    [(ngModel)]="searchString" 
    (keyup.enter)="searchEnter()" 
    (keyup.esc)="searchEnter()" 
    (focusout)="searchEnter()"
    (ionChange)="onUserEnterSearch($event)"
      ></ion-searchbar>

    <ion-title *ngIf="!isSearch">{{userInfo?.fullname}}</ion-title>

    <ion-buttons *ngIf="!isSearch" slot="end">
      <ion-button shape="round" (click)="onClickFilter($event)">
        <ion-icon slot="{{(isMobile?'icon-only':'start')}}" name="ios-funnel"></ion-icon>
        {{(isMobile?'':'Lọc ý tưởng')}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let idea of myIdeaFilterList | sortByTime : 'created_time' : 'desc' ">
      <ion-avatar slot="start">
        <img src="{{idea.avatar?idea.avatar:'assets/imgs/avatar.jpg'}}" (click)="onViewUserPage($event, idea)" />
      </ion-avatar>
      <ion-label class="ion-text-wrap" (click)="onViewIdeaDetail($event, idea)">
        <h2 class="text-to-wrap"><b>#{{idea.id}}</b>. {{idea.title}}</h2>
        <p [innerHTML]="idea.description | newline | safe" class="text-to-wrap"></p>
        <p>
          <ion-note>
            <strong>{{idea.status_name}}</strong>
            {{(idea.changed_time?idea.changed_time:idea.created_time) |
              timeAgo}}
          </ion-note>
        </p>
        <ion-badge color="secondary">
          <ion-icon name="thumbs-up"></ion-icon>{{"
            "+idea.voted_count}}
        </ion-badge>
        <ion-badge color="medium">
          <ion-icon name="chatbubbles"></ion-icon>{{"
            "+idea.commented_count}}
        </ion-badge>
        <ion-badge color="warning">
          <ion-icon name="switch"></ion-icon>{{"
            "+idea.total_point}}
        </ion-badge>
      </ion-label>
      <ion-button (click)="onClickMore($event)" slot="end" shape="round" fill="clear" size="small">
        <ion-icon slot="icon-only" name="ios-more"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>