<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{(formIdea?.title?formIdea.title:'')}}</ion-title>

    <ion-buttons *ngIf="userInfo" slot="secondary">
      <ion-button shape="round">{{userInfo.username}}</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab *ngIf="!isCardNewShow" horizontal="start" vertical="top" slot="fixed">
    <ion-fab-button color="warning" (click)="onClickAddNew()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="!isCardNewShow" horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button color="secondary">
      <ion-icon name="md-share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="warning">
        <ion-icon name="brush"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card class="card-add-new" *ngIf="isCardNewShow" >
    <card-dynamic-form [dynamicFormInput]="dynamicFormInput" [dynamicFormValue]="dynamicFormValue"
      [dynamicCallback]="dynamicCallback" (onSelectedFinish)="onSelectedFinish($event)"></card-dynamic-form>
  </ion-card>

  <!-- Phần bộ công cụ kéo xuống đọc dữ liệu -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Kéo xuống để làm mới" refreshingSpinner="bubbles"
      refreshingText="Đang tải...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Hiển thị danh sách các ý tưởng ra trên trang này sắp xếp thành các card theo các màu sắc ý tưởng khác nhau -->
  <ion-grid fixed *ngIf="!isCardNewShow">
    <ion-row>
      <ion-col *ngFor="let it of formIdea?.ideas; let idx=index;" size="12" size-sm="6" size-md="4" size-lg="4"
        size-xl="3">
        <app-idea-card [cardData]="it" (onClickSub)="onClickIdeaCard($event)"></app-idea-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>