<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Nói chuyện với máy</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" class="idea-created">
    <ion-avatar slot="start">
      <img src="{{chatbot?.avatar}}">
    </ion-avatar>
    <ion-label>
      <strong slot="start">
        {{chatbot?.username}}
      </strong>
      <br>
      <ion-note>{{chatbot?.created_time | timeAgo}}</ion-note>
    </ion-label>
    <ion-button (click)="onClickMore($event)" slote="end" shape="round" fill="clear" size="small">
      <ion-icon slot="icon-only" name="ios-more"></ion-icon>
    </ion-button>
  </ion-item>



  <!-- Nhập nội dung comment để góp ý ở ô này (keyup)="keyInput($event)" -->
  <ion-card class="input-comment">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="{{userInfo?.avatar}}">
      </ion-avatar>
      <ion-textarea autosize type="text" placeholder="Nhập câu yêu cầu cho máy .... " [(ngModel)]="message">
      </ion-textarea>
      <ion-button color="{{(message?'secondary':'light')}}" (click)="onClickSend()" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <!-- Lịch sử chatbot ở đây -->
  <ion-list class="comment-list">
    <!-- Hiển thị khi người dùng vừa gõ enter gửi đi máy chủ chưa trả lời -->
    <div *ngIf="!conversion?.response && conversion.request" [style.padding-left]="'20px'">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="{{userInfo?.avatar}}">
        </ion-avatar>
        <ion-label class="ion-text-wrap comment-backgound">
          <strong slot="start">
            {{userInfo.fullname}}
          </strong>
          <br>
          <ion-label class="ion-text-wrap">
            <div [innerHTML]="conversion.request | newline | safe"></div>
          </ion-label>
        </ion-label>
      </ion-item>
      <ion-note [style.padding-left]="'100px'"> {{conversion.created_time | timeAgo}} </ion-note>
    </div>

    <!-- Khi máy chủ trả lời thì mặt nhiên nó sẽ ẩn đi và thông tin trả lời đã hiển thị ở mảng rồi -->
    <div *ngFor="let comment of conversations">
      <div *ngIf="comment?.response" [style.padding-left]="'0px'">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="{{chatbot?.avatar}}">
          </ion-avatar>
          <ion-label class="ion-text-wrap comment-backgound">
            <strong slot="start">
              {{chatbot?.username}}
            </strong>
            <br>
            <ion-label class="ion-text-wrap">
              <div [innerHTML]="comment.response | newline | safe"></div>
            </ion-label>
            <ion-button (click)="onClickRepair()" slote="end" shape="round" fill="clear" size="small">
              <ion-icon slot="icon-only" name="ios-create"></ion-icon>
            </ion-button>
          </ion-label>
        </ion-item>
      </div>
      <div *ngIf="comment?.request" [style.padding-left]="'20px'">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="{{userInfo?.avatar}}">
          </ion-avatar>
          <ion-label class="ion-text-wrap comment-backgound">
            <strong slot="start">
              {{userInfo.fullname}}
            </strong>
            <br>
            <ion-label class="ion-text-wrap">
              <div [innerHTML]="comment.request | newline | safe"></div>
            </ion-label>
          </ion-label>
        </ion-item>
        <ion-note [style.padding-left]="'100px'"> {{comment.created_time | timeAgo}} </ion-note>
      </div>
    </div>
  </ion-list>

</ion-content>