<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="userInfo">
      <ion-button shape="round" (click)="onClickLogin()">
        <ion-icon slot="start" name="{{userInfo?'contact':'log-in'}}"></ion-icon>
        {{userInfo?.username}}
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card-sql">
    <ion-item>
      <ion-icon slot="start" color="secondary" name="logo-buffer"></ion-icon>
      <ion-label color="primary" class="ion-text-wrap"
        style="text-align: justify;">Chọn cơ sở dữ liệu</ion-label>
      <ion-select [(ngModel)]="selectedDbLink" style="background-color: lightblue; color:darkred; border-radius: 1em;">
        <ion-select-option *ngFor="let mySet of dbLinks" value="{{mySet.value}}">{{mySet.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="{{userInfo?.avatar}}">
      </ion-avatar>
      <ion-textarea autosize type="text" placeholder="Gõ câu lệnh sql phù hợp .... " [(ngModel)]="sqlString"></ion-textarea>
      <ion-button color="{{(sqlString?'secondary':'light')}}" (click)="onClickSend()"
        fill="clear" shape="round">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-grid fixed *ngIf="errorMessage">
    <ion-row>
      <ion-col size="12" style="background: red;color: white">{{errorMessage}}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed *ngIf="returnMessage">
    <ion-row>
      <ion-col size="12" style="background-color: gray; color: darkblue;">{{returnMessage}}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed *ngIf="returnHeader" class="table-row">
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-button *ngIf="returnArray.length > returnArrayViewer.length" 
            slot="start" color="warning" (click)="showAll()" shape="round"
            style="text-transform:none!important;">
            Xem hết {{totalCount}} bảng ghi
          </ion-button>
          <ion-button slot="end" color="primary" (click)="exportToExcel(returnArray)" shape="round"
            style="text-transform:none!important;">
            Xuất excel từ dữ liệu này
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="table-header">
      <ion-col>rowId</ion-col>
      <ion-col *ngFor="let col of returnHeader">{{col}}</ion-col>
    </ion-row>
    <ion-row *ngFor="let row of returnArrayViewer; let idx=index;">
      <ion-col class="ion-text-right">{{idx+1}}</ion-col>
      <ion-col *ngFor="let col of returnHeader" [style.text-align]="(row[col]?.length>0?'left':'right')">{{row[col]}}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>