//Thiết lập dòng chẵn lẻ cho bảng
.table-row .table-header { //tất cả các cột sau class này
    background: #99b7f0e0 !important;
    color:#0a0909fb !important;
    font-weight: bold;
    text-align: center;
}

.table-row ion-col { //tất cả các cột sau class này
    border: solid 0.1em #FFFFFF;
    font-size: 1.3em;
}

.table-row ion-row:nth-of-type(odd) { //dòng lẻ
    background: #fafafaf6;
    color:#202020;
    opacity: 0.9;
}

.table-row ion-row:nth-of-type(even) { //dòng chẵn
    background: #e6f5f8;
    color:#202020;
    opacity: 0.7;
}
