<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="userInfo">
      <ion-button shape="round" (click)="onClickLogin()">
        <ion-icon slot="start" name="{{userInfo?'contact':'log-in'}}"></ion-icon>
        {{userInfo?.username}}
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card-add-new">
    <card-dynamic-form [dynamicFormInput]="dynamicFormInput" [dynamicFormValue]="dynamicFormValue"
      [dynamicCallback]="dynamicCallback" (onSelectedFinish)="onSelectedFinish($event)"></card-dynamic-form>
  </ion-card>

  <ion-grid fixed *ngIf="errorMessage">
    <ion-row>
      <ion-col size="12"  style="background: red;color: white">{{errorMessage}}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed *ngIf="returnMessage">
    <ion-row>
      <ion-col size="12" style="background-color: gray; color: darkblue;">{{returnMessage}}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed *ngIf="returnHeader" class="table-row">
    <ion-row class="table-header">
      <ion-col *ngFor="let col of returnHeader">{{col}}</ion-col>
    </ion-row>
    <ion-row *ngFor="let row of returnArray">
      <ion-col *ngFor="let col of returnHeader">{{row[col]}}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>