//Thiết lập dòng chẵn lẻ cho bảng
.table-row .table-header {
  //tất cả các cột sau class này
  background: #99b7f0e0 !important;
  color: #0a0909fb !important;
  font-weight: bold;
  text-align: center;
}

.table-row ion-col {
  //tất cả các cột sau class này
  border: solid 0.1em #ffffff;
  font-size: 1em;
}

.table-row ion-row:nth-of-type(odd) {
  //dòng lẻ
  background: #fafafaf6;
  color: #202020;
  opacity: 0.9;
}

.table-row ion-row:nth-of-type(even) {
  //dòng chẵn
  background: #e6f5f8;
  color: #202020;
  opacity: 0.7;
}

@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1) {
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: "";
    position: relative;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
  }
}

// .desc-text-wrap {
//     @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 4);
//   }

@mixin truncate($font-size, $line-height, $lines-to-show) {
  display: block; // Fallback for non-webkit
  display: -webkit-box;
  text-align: justify;
  max-width: 400px;
  height: $font-size * $line-height * $lines-to-show; // Fallback for non-webkit
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc-text-wrap {
  @include truncate($font-size: 13, $line-height: 1.2em, $lines-to-show: 1);
}
